html{
    height: 100%;
}

td, th {
    border: 1px solid #020202;
    padding: 10px;

  }

h1 {
    text-align: center;
    color: #ec6a00;
}

tbody {
    width: 45%; 
    color: #ec6a00;

}

.mainLeagueStats {
    min-height: 140vh;
    background-color:  #ffffffae;
}

body{
    min-height: 100%;
}

.left {
    display: inline;
    color: #ec6a00;

}

.right {
    display: inline;
    color: #ec6a00;
    padding-left: 60%
}

.headerTwo {
  font-size: xx-large;
}