.mainSoccer {
    margin: 0px;
    padding: 0px;
    background-color:  #151414f0;
}

.mainHeader {
    text-align: center;
    color: aliceblue;
}

.soccerSearchBar {
    align-items: center;
}

.soccerButton {
display: block;
margin: 0 auto;
width: 150px;
}

.headerTwo {
    color: #ec6a00;
    text-align: center;
}

.Dropdown {
    text-align: center;
    color: #020202ae;
    background: transparent;
}

.headerOne {
    color: #ec6a00;
}

.topHeader {
    color: #ec6a00;
}