.mainSoccer {
    margin: 0px;
    padding: 0px;
    background-color:  #020202ae;
}

.mainHeader {
    text-align: center;
}

.soccerSearchBar {
    align-items: center;
}

.soccerButton {
display: block;
margin: 0 auto;
width: 150px;
}

.headerTwo {
    text-align: center;
}

.Dropdown {
    text-align: center;
    color: #020202ae;
    background: transparent;
}