.mainTeam{
    margin: 0px;
    padding: 0px;
    background-color:  #ffffffae;
    text-align: center;
    align-content: center;
    align-items: center;
}

td, th {
    border: 1px solid #000000;
    padding: 10px;

  }

h1 {
    text-align: center;
    color: #ec6a00;
}

tbody {
    color: #ec6a00;
    align-items: center;

}

.photo {
    height: 75px;
    width: 75px;
}

.tableBody {
    float:right;
}