.mainTeam{
    margin: 0px;
    padding: 0px;
    background-color:  #ffffffae;
    text-align: center;
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
    
    width:200px;
    height:200px;
}

td, th {
    border: 1px solid #000000;
    padding: 10px;

  }

h1 {
    text-align: center;
    color: #ec6a00;
}

tbody {
    color: #ec6a00;
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
    
    width:200px;
    height:200px;

}

.photo {
    height: 75px;
    width: 75px;
}

