.error {

    background-image: url(https://media.gettyimages.com/photos/brazils-forward-neymar-cries-after-scoring-a-goal-during-the-russia-picture-id981231750?s=2048x2048);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100);
}
.errorButton{
    font-size:xx-large;
    color: white;
    height: 300px;
    width: 300px;
    border-style:solid;
    background-color: gray;
}
