


form .txt_field_signup{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 25px 25px;
  margin-top: 25px;
  width: 80%;
}
.txt_field_signup input{
  width: 100%;
  padding: 0 5px;
  height: 15px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: #ec6a00;
}

.sign-up-form
{
    width: 40vh;
    height: 60vh;
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); */
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background: #171717;
    /* border-radius: 10px; */
    /* box-shadow: 10px 10px 15px rgba(0,0,0,0.05); */
}

.form-item {
  padding-bottom: 5px;
}

.form-item-username-firstName{
  padding-bottom: 5px;
  
}

.form-item-username-lastName{
  padding-bottom: 5px;

}

.form-email{
  padding-bottom: 5px;
}

.form-phone{
  padding-bottom: 5px;
}

.form-password{
  padding-bottom: 5px;
}

.signUp{
  width: 70%;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 15px;
  color: #ec6a00;
  background: #28282B;
}

.signup-title{
  font-family: 'Black Ops One', cursive;
  color: #ec6a00;
}

/* .signUp:hover{
  border-color: #2691d9;
  transition: .5s;
} */

.having-an-account{
  margin: 25px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.having-an-account p{
  color: grey;
  text-decoration: none;
}

.having-an-account a{
  color: #2691d9;
  text-decoration: none;
}

.having-an-account a:hover{
  text-decoration: underline;
}


.sign-up-form h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;

}

p{
  color: red;
  font-size: .7rem;
  display: flex;
  padding-left: 1.5625rem;
  align-items: left;
}

