@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap%27');

.fontclass{
  font-family: 'Black Ops One', cursive;
  border-color: orange;

}
.measure{
    width: 100%;
    height: 90vh;
  }
  
  .click {
    width: 250px;
    background: black;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    color:orange;
    border-color: orange;
    
}

.click:hover {
  opacity: 0.3;
  background: black;
}

.middle{
  justify-content: center;
}

.button-right{
  margin-right: 15px;
}